// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	font-size: 12px 
	font-family: arial,helvetica,sans-serif
	line-height: 1.4
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -25px
.container
	width: 1024px
.clr
	+clr		
.push
	height: 25px
// common blocks

// header
.header
	position: relative      
	padding-top: 14px
	margin-bottom: -22px
	+box-shadow(0 0 7px #313030)
	z-index: 9999
.header__inner
	height: 60px
	padding: 0 30px 
	background: #898989
.header__bottom
	height: 22px
	+opacity(.9)
.droplist
	display: block
	padding: 4px 0px 0px 30px
	border: 1px solid #999
	border-top: none
	border-left: none
	height: 18px
	font-size: 11px
	width: 191px
	color: #000
	background: #fff 
	text-decoration: none
.mainmenu
	display: inline-block
	height: 27px
	padding-bottom: 4px 
	& > ul
		+clr
		& > li
			position: relative
			float: left
.mainmenu__link
	display: block
	margin: 13px 5px 0px 0px
	color: #fff
	text-decoration: none
	font-size: 14px
	&:hover
		color: #000077
	&.is-open
		color: #000077	
	&.showroom
		padding: 0 7px 
		&.series
			margin: 9px 0px 0px 0px
			font-size: 17px
			font-weight: bold
	&.is-active
		background: #fff
		color: #000077 	
.mainmenu__dropdown
	position: absolute
	top: 100%
	left: -1px
	width: 198px
	height: 337px
	+box
	padding: 8px 
	border: 1px solid #999999
	border-top: none 
	background: #fff
	z-index: 999
	a
		text-decoration: none
		font-size: 11px
		color: #4c4c4c!important
	ul
		margin-bottom: 10px 	  
	& > li > a
		color: #000!important
		font-weight: bold	
.submenu
	ul
		width: 755px
		border-top: 1px solid #aaa 
		+clr
		li
			float: left
			&:first-child
				a
					padding: 0 8px 0 0 
			a
				display: inline-block
				height: 22px
				line-height: 22px
				padding: 0 8px 
				font-size: 11px
				text-decoration: none
				color: #fff
				&:hover
					color: #000077
.disrt
	position: absolute
	left: 791px
	top: 0px
	width: 187px
	height: 95px
	z-index: 899

// footer
.footer
	height: 25px
	+box
	border-top: 1px solid #999999					
.footer__inner
	+clr
	width: 1024px
.footer__menu
	float: right
	margin-right: 52px
	ul
		+clr
		padding-top: 4px
		li
			float: left
			margin-left: 10px	
.link
	position: relative
	display: inline-block
	color: #4c4c4c
	font-size: 11px
	text-decoration: none
	&:first-letter
		padding-left: 10px 
	&:before
		content: ""
		position: absolute
		top: 4px
		left: 0px
		+arr(3, 6, #4c4c4c, r)
	&:hover
		color: #003399	
		&:before
			+arr(3, 6, #003399, r)

// select
.select
	position: relative
	display: inline-block	
.select__text
	position: relative
	width: 173px
	height: 18px
	line-height: 16px
	padding: 0 5px 
	+box
	border: 1px solid #003399
	font-size: 11px
	cursor: pointer
	&:before
		content: ""
		position: absolute
		top: 0
		right: 15px
		width: 1px
		height: 16px 
		background: #003399
	&:after
		content: ""
		position: absolute
		top: 5px
		right: 3px
		+arr(10, 5, #003399, b)
.select__dropdown
	position: absolute
	top: 17px
	left: 0
	right: 0
	border: 1px solid #003399
	padding: 10px 0 
	li
		a
			display: block
			padding: 0 5px
			color: #000
			font-size: 11px
			text-decoration: none
			&:hover
				color: #fff
				background: #003399 	
