// model_article page styles
.article
    padding-left: 192px
    font-size: 11px
    line-height: 12px
    color: #000
    img
        margin-bottom: 8px
    p
        margin-bottom: 10px     
.article__inner
    width: 398px
    margin-left: 236px
