// styles for news page 
.news
    padding-top: 92px 
    margin-left: 292px    
.news__item
    +clr
    padding-bottom: 27px
    border-bottom: 1px solid #E0E0E0
    margin-bottom: 20px
.news__img
    float: left
    margin-right: 20px
.news__content
    float: left
    width: 482px
.news__topper
    position: relative
    padding-left: 48px
    &:before
        content: ""
        position: absolute
        top: 0px
        left: 0px
        +s(news_icon)
.news__date
    font-size: 11px
.news__title
    display: block
    color: #333
    text-decoration: none
    font-size: 20px
    font-weight: bold
    line-height: 20px
    margin-bottom: 15px
    &:hover
        color: #003399
.news__text
    font-size: 11px
    line-height: 12px
.news__pagination
    display: inline-block
    font-size: 0
    line-height: 0
    letter-spacing: -1px
    float: right
    border: 1px solid #E0E0E0                                       
    li
        font-size: 11px
        line-height: normal
        letter-spacing: normal
        display: inline-block
        vertical-align: top
        background: #EEEEEE
        +g(#FDFDFD, #C5C5C5) 
        a
            display: block
            height: 24px
            line-height: 24px
            text-decoration: none
            font-size: 11px
            line-height: 24px
            text-align: center
            padding: 0 5px
            border-left: 1px solid #B0B0B0
            width: 11px
            color: #666
            vertical-align: middle
            &:hover
                color: #0044CC
        &:first-child
            a
                border-left: none     
        &.prev, &.next
            a
                width: auto
                font-weight: bold
                
// article page

.owners
    margin-left: 315px
.owners__text
    font-size: 11px
    line-height: 12px
    margin-bottom: 128px
.propose
    +clr
.propose__item
    float: left
    margin-left: 60px
    &:first-child
        margin-left: 0
.propose__title
    font-size: 11px
    font-weight: bold
    margin-bottom: 3px
.propose__link
    display: block
    height: 24px
    line-height: 24px
    padding: 0 7px
    margin-top: 8px 
    border: 1px solid #E0E0E0            
    background: #EEEEEE
    +g(#FDFDFD, #C5C5C5)
    font-weight: bold
    font-size: 11px
    text-decoration: none
    color: #666
    
// news page
.copyrights
    padding-top: 45px
.copyrights__section
    +clr
    padding-left: 320px
    padding-bottom: 30px
    margin-bottom: 12px
    &:first-child
        border-bottom: 1px solid #999
.copyrights__col
    float: left
    width: 275px
    margin-right: 20px
    .h2
        margin-bottom: 10px
    .h4
        margin-bottom: 4px    
    p
        font-size: 11px
        line-height: 12px
        margin-bottom: 10px
.copyrights__block
    margin-bottom: 40px                     
    